@{
    ViewData["Title"] = "Quienes somos ";
}
<style type="text/css">
    .box {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        background: #889ccf;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        border-radius: 35px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
        border: 2px solid #5878ca;
    }

        .box h2 {
            text-align: center;
        }

    img {
        display: block;
        margin: auto;
    }
</style>
<div class="box">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="box" >
    
    <h3>MLS CENTRAL DE SERVICIOS VETERINARIOS</h3>

    <p>
        <img src="~/images/dog-91765_640.jpg" align="right" width="170" height="170">
        Somos una institución especializada en Diagnóstico Clínico Veterinario Laboratorial con el respaldo
        tecnológico y profesional para el ejercicio idóneo, el correcto análisis,   interpretación y correlación
        de resultados, ofreciendo resultados no sesgados, fiables, y oportunos, lo que nos convierte en generadores
        importantes de información para nuestra región.

        Nuestros técnicos y analistas tienen la preparación académica y el entrenamiento suficiente para garantizar
        a los usuarios que los procesos que nos confían son realizados con técnicas, reactivos y equipos que se ajustan
        a estándares de calidad nacionales e internacionales para la realización de pruebas de rutina y especializadas.

        Como empresa, trabajamos para alcanzar a corto plazo la certificación NTC-ISO/ IEC Colombiana 17025
        que nos permita aprobar luego la certificación en BPL (Buenas prácticas de Laboratorio) y obtener así
        la Certificación ICA para pertenecer a la Red Nacional de Laboratorios de nuestro país.

        Estamos comprometidos con la identificación y solución de problemas de salud en las diferentes especies
        animales con el uso de una metodología fundamentada en el trabajo en estrecha colaboración
        con el Médico Veterinario.
    </p>
</div>
<div class="box">
    <h3>MISIÓN</h3>

    <p>
        Satisfacer las necesidades de diagnóstico y aseguramiento de calidad para el sector agropecuario,
        prestando servicios de Laboratorio Clínico y Asesoría Técnica, enfocados a atender a entidades
        privadas y públicas del sector. Nuestro compromiso será la excelencia en el servicio a todos
        nuestros clientes por una compensación justa que nos permita permanecer en el mercado contribuyendo
        al desarrollo económico y social de nuestra región y del país.
    </p>
</div>
<div class="box">
    <h3>VISIÓN</h3>

    <p>
        Ser un equipo de trabajo integro, convirtiendo a MLS CENTRAL DE SERVICIOS VETERINARIOS,
        en uno de las Instituciones líderes en la región y el país, superando las expectativas
        de nuestros clientes en términos de calidad y confiablidad, sustentados en la excelencia
        de sus procesos, la ética profesional, el trabajo en equipo, calidez humana y la idoneidad
        de su recurso humano, sirviendo así de apoyo al sector agropecuario para la toma de decisiones sanitarias y administrativas.
    </p>
</div>