@{
    ViewData["Title"] = "Datos de Contacto";
}
    <style type="text/css">
        .box {
            font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            background: #889ccf;
            margin: 0 0 25px;
            overflow: hidden;
            padding: 20px;
            border-radius: 35px 0px 35px 0px;
            -moz-border-radius: 35px 0px 35px 0px;
            -webkit-border-radius: 35px 0px 35px 0px;
            border: 2px solid #5878ca;
        }

            .box h2 {
                text-align: center;
            }

            .box h3 {
                text-align: center;
            }

            .box h4 {
                text-align: center;
            }

        img {
            display: block;
            margin: auto;
        }
    </style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="box">
    <h4>Dirección:</h4>
    <p>
        Sede Administrativa y de Procesos
        <br />
        Campestre, Sector Villa Lorena, Cl 15 Mz B-38,  Piso 1
    </p>
    <h4>Telefonos:</h4>
    <p>

    </p>
    <h4>e-mail:</h4>
    <p>

    </p>
    <h4>Facebook:</h4>
    <p>

    </p>
    <h4> Twiter:</h4>
    <p>

    </p>
    <h4> Instagram:</h4>
    <p>

    </p>
</div>
