@{
    ViewData["Title"] = "Datos de Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h4>Dirección:</h4>
    <p>
        Sede Administrativa y de Procesos
        <br />
        Campestre, Sector Villa Lorena, Cl 15 Mz B-38,  Piso 1
    </p>
    <h4>Telefonos:</h4>
    <p>

    </p>
    <h4>e-mail:</h4>
    <p>

    </p>
    <h4>Facebook:</h4>
    <p>

    </p>
    <h4> Twiter:</h4>
    <p>

    </p>
    <h4> Instagram:</h4>
    <p>

    </p>
</div>
