@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/LogoMLS.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="About"> 
                    Leer mas
                    </a>>
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 style="text-transform: uppercase;">Quienes somos</h2>
        <p>
            Somos una institución especializada en Diagnóstico Clínico Veterinario 
            Laboratorial con el respaldo tecnológico y profesional para el ejercicio idóneo, 
            el correcto análisis, interpretación y correlación de resultados... 
            <a asp-area="" asp-controller="Home" asp-action="About"> Leer mas</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>SERVICIOS VETERINARIOS</h2>
        <ul>
            <li><a asp-area="" asp-controller="Conceptos" asp-action="Diagnostico">Departamento Diagnóstico.</a></li>
            <li>Departamento Técnico.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>INFORMACION GENERAL</h2>
        <ul>
            <li>Horario de Atención.</li>
            <li>Servicio a Domicilio.</li>
            <li>Envío de Muestras.</li>
            <li>Servicio de Toma de muestras.</li>
            <li>Suministro de material para muestreo y Protocolo de envío.</li>
            <li>Entrega de resultados.</li>
            <li>Condiciones de pago.</li>
            <li>Datos de Contacto.</li>
            <li><a asp-area="" asp-controller="" asp-action="">Ver más.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 style="text-transform: uppercase;">Listado de análisis y precios </h2>
        <p>
            Nos dedicamos al servicio de diagnóstico veterinario, apoyando las necesidades del sector veterinario, 
            garantizando la competencia del personal, las buenas práctica profesionales, la validez de los ensayos y resultados...
            <a href="">Leer mas</a>
        </p>
    </div>
</div>
