
@{
    ViewData["Title"] = "Servicios Veterinarios";
}

    <center>
        <h2>Lista de Servicios</h2>
    </center>
<div class="row">
    <div class="col-xs-6">
        <h3>Departamento Diagnóstico</h3>
        <p>
            Comprende el desarrollo de ensayos analíticos que tienen como finalidad la detección
            del agente causal de aquellas enfermedades (bacterianas, parasitarias, fungicas o virales)
            que con cierta frecuencia afectan a los animales de compañía, silvestres y a aquellos destinados
            al consumo humano, influyendo negativamente en la productividad de las explotaciones ganaderas y
            en la obtención de productos agroalimentarios de alta calidad.
            <br />
            <a asp-area="" asp-controller="Conceptos" asp-action="Diagnostico"> Ir a Conceptos</a>
        </p>
        <h4>Servicios:</h4>
        <h5>Laboratorio Clínico:</h5>
        <ul>
            <li>Hematología.</li>
            <li>Química Sanguínea.</li>
            <li>Hormonas.</li>
            <li>Parasitología.</li>
            <li>Uroanálisis.</li>
            <li>Microbiología.</li>
            <li>Citología.</li>
            <li>Histopatología.</li>
            <li>Inmunología</li>
        </ul>
        <h5>Asesoría en Diagnóstico</h5>
    </div>
    <div class="col-xs-6">
        <h3>Departamento Técnico</h3>
        <h4>Servicios:</h4>
        <ul>
            <li>Visitas Técnico-Profesionales.</li>
            <li>Instauración y/o Sistematización de Monitoreo de Hatos.</li>
            <li>Planificación, Ejecución y seguimiento de Actividades sanitarias y de Manejo.</li>
            <li>Asesoría Agronómica.</li>
            <li>
                Asesoría Reproductiva especializada
                (Establecimiento de programas de mejoramiento genético (Monta Natural, IA, TE.)).
            </li>
            <li>Implementación del Programa “Manejo Higiénico de la Leche”.</li>
            <li>Asesoría Medioambiental.</li>
            <li>Capacitaciones en general.</li>

        </ul>
    </div>
</div>

