
@{
    ViewData["Title"] = "Exitoso";
}

    <h2>Exitoso</h2>
<div>
    <p>usuario creado correctamenta</p>
    <a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="Register">Regresar.</a>
</div>

