
@model MLS.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
    <style>
        .login-form {
            width: 390px;
        }

        .login-title {
            font-family: 'Exo', sans-serif;
            text-align: center;
            color: white;
        }

        .login-userinput {
            margin-bottom: 10px;
        }

        .login-button {
            margin-top: 10px;
        }

        .login-options {
            margin-bottom: 0px;
        }

        .login-forgot {
            float: right;
        }
    </style>




<div class="container login-form">
    <h2 class="login-title">- Please Login -</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="input-group login-userinput">

                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-warning"></span>

                </div>
                <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                    <span id="showPassword" class="input-group-btn">
                        <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                    </span>
                </div>
                <input type="submit" value="Login" class="btn btn-primary btn-block login-button" />
                <a class="btn btn-primary btn-block login-button" 
                   asp-area="" asp-controller="Account" asp-action="Registerp"> Resgistrar</a>
                <div class="checkbox login-options">
                    <label><input type="checkbox" /> Remember Me</label>
                    <a href="#" class="login-forgot">Forgot Username/Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


