
@{
    ViewData["Title"] = "Listado de análisis y precios 2020";
}

    <h2>Información para nuestros clientes</h2>
<div>
    <p>
        MLS CENTRAL DE SERVICIOS VETERINARIOS
        Campestre, Sector Villa Lorena, Mz B Lote 38, Piso 1
        Teléfono: 6513272 - 3013339500
        laboratorio@mlscsveterinarios.com

    </p>
</div>
<div>
    <p>
        En MLS CSVet – Unidad Laboratorio Clínico:
        Nos dedicamos al servicio de diagnóstico veterinario, apoyando las necesidades del sector veterinario, 
        garantizando la competencia del personal, las buenas práctica profesionales, la validez de los ensayos y resultados, 
        la utilización de medios y equipos conformes, la disposición de instalaciones adecuadas y 
        la calidad de nuestros proveedores; actuamos siempre con responsabilidad y transparencia, 
        garantizando la imparcialidad, la confidencialidad y el compromiso de satisfacer las necesidades de nuestros clientes.

        Realizamos exámenes de rutina y especializados para pequeñas y grandes especies; 
        contamos con personal profesional y técnico con la preparación académica, 
        en entrenamiento suficiente y la experiencia necesaria para garantizar a nuestros clientes 
        la calidad en los procesos ejecutados, seguridad y veracidad en los reportes 
        generados, con técnicas, reactivos y equipos ajustados a altos estándares de calidad.
        <center>
            <label>MLS CSVET, Lo mejor para tu diagnóstico!</label>
        </center>
    </p>
</div>
<div>
    <p>
        Atte.,
        MARIA LINA SIMANCAS M. MVZ Esp.
        Directora Científica.

    </p>
</div>
<div>
    <a asp-area="" asp-controller="ListadePrecio" asp-action="Lista">Lista de Precios</a>
</div>

