
@{
    ViewData["Title"] = "Lista de Precios";
}
<br />

<div>
    <table border="1">
        <tr>
            <td>HEMATOLOGIA</td>
        </tr>
        <tr>
            <td>NOMBRE DEL ANÁLISIS  </td>
            <td>PRECIOS     </td>
            <td>MUESTRAS   </td>
        </tr>
        <tr>
            <td>
                Extendido de sangre periférica (morfología)
            </td>
            <td>
                $ 12.000
            </td>
            <td BGCOLOR="#C322E7">
                
            </td>
        </tr>
    </table>
</div>
