
@{
    ViewData["Title"] = "Lista de Precios";
}
<br />

<h2>Listado de análisis y precios 2020</h2>
<div id="paso1">
    <img src="~/images/Tabla01.png" />
    <div>

        <button id="botonsig1" class="btn btn-success" onclick="siguiente();">Siguiente</button>
    </div>
</div>
<div id="paso2" hidden="hidden">
    <img src="~/images/Tabla03.png" />
    <div>
        <button id="botonant2" class="btn btn-primary" onclick="anterior();">Anterior</button>
        <button id="botonsig2" class="btn btn-success" onclick="siguiente1();">Siguiente</button>
    </div>
</div>
<div id="paso3" hidden="hidden">
    <img src="~/images/Tabla04.png" />
    <div>
        <button id="botonant3" class="btn btn-primary" onclick="anterior1();">Anterior</button>
        <button id="botonsig3" class="btn btn-success" onclick="siguiente2();">Siguiente</button>
    </div>
</div>
<div id="paso4" hidden="hidden">
    <img src="~/images/Tabla05.png" />
    <div>
        <button id="botonant4" class="btn btn-primary" onclick="anterior2();">Anterior</button>
        <button id="botonsig4" class="btn btn-success" onclick="siguiente3();">Siguiente</button>
    </div>
</div>
<div id="paso5" hidden="hidden">
    <img src="~/images/Tabla06.png" />
    <div>
        <button id="botonant5" class="btn btn-primary" onclick="anterior3();">Anterior</button>
        <button id="botonsig5" class="btn btn-success" onclick="siguiente4();">Siguiente</button>
    </div>
</div>
<div id="paso6" hidden="hidden">
    <img src="~/images/Tabla07.png" />
    <div>
        <button id="botonant6" class="btn btn-primary" onclick="anterior4();">Anterior</button>
        <button id="botonsig6" class="btn btn-success" onclick="siguiente5();">Siguiente</button>
    </div>
</div>
<div id="paso8" hidden="hidden">
    <img src="~/images/Tabla08.png" />
    <div>
        <button id="botonant8" class="btn btn-primary" onclick="anterior5();">Anterior</button>
        <button id="botonsig8" class="btn btn-success" onclick="siguiente6();">Siguiente</button>
    </div>
</div>
<div id="paso9" hidden="hidden">
    <img src="~/images/Tabla09.png" />
    <div>
        <button id="botonant9" class="btn btn-primary" onclick="anterior6();">Anterior</button>
        <button id="botonsig9" class="btn btn-success" onclick="siguiente7();">Siguiente</button>
    </div>
</div>
<div id="paso10" hidden="hidden">
    <img src="~/images/Tabla10.png" />
    <div>
        <button id="botonant10" class="btn btn-primary" onclick="anterior7();">Anterior</button>
        <button id="botonsig10" class="btn btn-success" onclick="siguiente8();">Siguiente</button>
    </div>
</div>
<div id="paso11" hidden="hidden">
    <img src="~/images/Tabla11.png" />
    <div>
        <button id="botonant11" class="btn btn-primary" onclick="anterior8();">Anterior</button>
        <button id="botonsig11" class="btn btn-success" onclick="siguiente9();">Siguiente</button>
    </div>
</div>
<div id="paso12" hidden="hidden">
    <img src="~/images/Tabla12.png" />
    <div>
        <button id="botonant12" class="btn btn-primary" onclick="anterior9();">Anterior</button>
        <button id="botonsig12" class="btn btn-success" onclick="siguiente10();">Siguiente</button>
    </div>
</div>
<div id="paso13" hidden="hidden">
    <img src="~/images/Tabla13.png" />
    <div>
        <button id="botonant13" class="btn btn-primary" onclick="anterior10();">Anterior</button>
        <button id="botonsig13" class="btn btn-success" onclick="siguiente11();">Siguiente</button>
    </div>
</div>
<div id="paso14" hidden="hidden">
    <img src="~/images/Tabla14.png" />
    <div>
        <button id="botonant14" class="btn btn-primary" onclick="anterior11();">Anterior</button>
        <button id="botonsig14" class="btn btn-success" onclick="siguiente12();">Siguiente</button>
    </div>
</div>
<div id="paso15" hidden="hidden">
    <img src="~/images/Tabla15.png" />
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>
<div id="paso16" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Ácido Úrico</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Adrenocorticotrópica (ACTH)</td>
                <td>$ 53.000</td>
            </tr>
            <tr>
                <td>AIE (Anemia Infecciosa Equina)</td>
                <td>$ 30.000 + envio</td>
            </tr>
            <tr>
                <td>Alanino Amino Transferasa (ALT-GPT)</td>
                <td>$ 11.500</td>
            </tr>
            <tr>
                <td>Albumina</td>
                <td>$ 11.000</td>
            </tr>
            <tr>
                <td>Amilasa</td>
                <td>$ 18.000</td>
            </tr>
            <tr>
                <td>Análisis de Líq. Cefalorráquideo (Citologico + Fisicoq.)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Análisis de Líq. Transtraqueal (Citologico + Fisicoquímico)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Análisis de Líquido Bronquial (Citologico + Fisicoquímico)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Análisis de Líquido Sinovial (Citologico + Fisicoquímico)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Análisis de Líquidos Ascitico (Citologico + Fisicoquímico)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Análiss de Líq. Ruminal (Citologico + Fisicoquímico)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Aspartato Amino Transferasa (AST-GOT)</td>
                <td>$ 11.500</td>
            </tr>
            <tr>
                <td>Bilirrubina Directa</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Bilirrubina Indirecta</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Bilirrubina Total</td>
                <td>$ 15.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso17" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Brucella abortus (ELISA Indirecta)</td>
                <td>$ 18.000 + env</td>
            </tr>
            <tr>
                <td>Brucella abortus (Rosa de Bengala)</td>
                <td>$ 9.000</td>
            </tr>
            <tr>
                <td>Brucella canis</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>Calcio</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Calcio Ionizado</td>
                <td>$ 60.000</td>
            </tr>
            <tr>
                <td>Carbamazepina (niveles)</td>
                <td>$ 82.000</td>
            </tr>
            <tr>
                <td>Citologia Auricular</td>
                <td>$ 14.000</td>
            </tr>
            <tr>
                <td>Citología Cervico Vaginal: (Ciclo estral – caninos), (Apoyo Dx. Infertilidad en yeguas)</td>
                <td>$ 28.000</td>
            </tr>
            <tr>
                <td>Citología General (por Aspiración o punción)</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>Cloro</td>
                <td>$ 11.000</td>
            </tr>
            <tr>
                <td>Colesterol HDL</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Colesterol LDL</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Colesterol Total</td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Coloración de Gram</td>
                <td>$ 13.000</td>
            </tr>
            <tr>
                <td>Coprocultivo (identificación, antibiograma)</td>
                <td>$ 43.000</td>
            </tr>
            <tr>
                <td>Coprológico</td>
                <td>$ 13.000</td>
            </tr>
            <tr>
                <td>Coprologico por concentración</td>
                <td>$ 19.000</td>
            </tr>
            <tr>
                <td>Coproscópico (Azúcares reductores, pH, parásitos)</td>
                <td>$ 20.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso18" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Cortisol</td>
                <td>$ 50.000 + env</td>
            </tr>
            <tr>
                <td>Cortisol</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Creatin Fosfokinasa Total (CK-CPK)</td>
                <td>$ 18.000</td>
            </tr>
            <tr>
                <td>Creatinina</td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Cuantificación de Anticuerpos Antirrábicos</td>
                <td>$ 1.000.000</td>
            </tr>
            <tr>
                <td>Cuerpos de Inclusión (Distemper C.)</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>
                    Cultivo gérmenes aerobios de líquidos corporales
                    o sitio contaminado (identificación, antib de disco para cada germen identificado)
                </td>
                <td>$ 62.000</td>
            </tr>
            <tr>
                <td>
                    Cultivo gérmenes aerobios, abseso sitio contaminado (identificación, antib de
                    disco para cada germen identificado)
                </td>
                <td>$ 62.000</td>
            </tr>
            <tr>
                <td>Cultivo Gérmenes anaerobios con Antibiograma</td>
                <td>$ 87.000</td>
            </tr>
            <tr>
                <td>Cultivo germenes comúmes +  Antibiograma, disco</td>
                <td>$ 49.000</td>
            </tr>
            <tr>
                <td>Cultivo y Antibiograma en Leches, 1 – 2 cuartos</td>
                <td>$ 90.000</td>
            </tr>
            <tr>
                <td>Cultivo y Antibiograma en Leches, 3 – 4 cuartos</td>
                <td>$ 180.000</td>
            </tr>
            <tr>
                <td>Deshidrogenasa Láctica LDH</td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>Dimero D</td>
                <td>$ 65.000</td>
            </tr>
            <tr>
                <td>Directo de Fluido vaginal y/o lavado prepucial para Trichomonas</td>
                <td>$ 25.000</td>
            </tr>
            <tr>
                <td>Dirofilaria</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>Distemper canino (ELISA)</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>DVB (Diarrea Viral Bovina)</td>
                <td>$ 50.000 + env</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso19" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Ehrlichia canis (ELISA)</td>
                <td>$ 40.000</td>
            </tr>
            <tr>
                <td>Espermograma  (Quimica Recuento y Morfología)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Estimulante de la Tiroides (TSH) Canino específica</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Estradiol</td>
                <td>$ 59.000</td>
            </tr>
            <tr>
                <td>Examen Histopatológico - mas de una muestra</td>
                <td>Consultar</td>
            </tr>
            <tr>
                <td>Exámen Histopatológico - Una sola muestra</td>
                <td>$ 100.000</td>
            </tr>
            <tr>
                <td>
                    Extendido de sangre periférica (morfología)
                </td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>
                    Fenobarbital (niveles) en ayunas, y sin suministrar la dosis del medicamento
                </td>
                <td>$ 85.000</td>
            </tr>
            <tr>
                <td>Fibrinógeno </td>
                <td>$ 16.000</td>
            </tr>
            <tr>
                <td>Folículo Estimulante (FSH)</td>
                <td>$ 57.000</td>
            </tr>
            <tr>
                <td>Fosfatasa Alcalina</td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Fósforo</td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>Gama Glutamil Transpeptidasa (GGT)</td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>Gases Arteriales</td>
                <td>$ 40.000</td>
            </tr>
            <tr>
                <td>Giardia</td>
                <td>$ 42.000</td>
            </tr>
            <tr>
                <td>Glicemia Basal</td>
                <td>$ 10.000</td>
            </tr>
            <tr>
                <td>Hematocrito (por centrifugación)</td>
                <td>$ 10.000</td>
            </tr>
            <tr>
                <td>Hemocultivo para gérmenes aerobios</td>
                <td>$ 70.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso20" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Hemocultivo para gérmenes anaerobios</td>
                <td>$ 75.000</td>
            </tr>
            <tr>
                <td>Hemoglobina Glicosilada</td>
                <td>$ 46.000</td>
            </tr>
            <tr>
                <td>Hemograma Completo  (Automatizado) + Proteínas Plasmáticas</td>
                <td>$ 16.000</td>
            </tr>
            <tr>
                <td>
                    Hemograma Completo (Automatizado) + Proteínas
                    Plasmáticas Totales + Hemoparásitos
                </td>
                <td>$ 24.000</td>
            </tr>
            <tr>
                <td>
                    Hemograma Completo (Automatizado) + Proteínas Plasmáticas
                    Totales + Reticulocitos
                </td>
                <td>$ 22.000</td>
            </tr>
            <tr>
                <td>Hemograma completo (aves y especies no convencionales)</td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>
                    Hemoparásitos
                </td>
                <td>$ 15.000</td>
            </tr>
            <tr>
                <td>
                    Hemoparásitos (Leishmaniasis)
                </td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>Hierro Total </td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>IBR  (Rinotraqueitis infecciosa Bovina)</td>
                <td>$ 50.000 + env</td>
            </tr>
            <tr>
                <td>Ig G</td>
                <td>$ 50.000</td>
            </tr>
            <tr>
                <td>Ig M</td>
                <td>$ 50.000</td>
            </tr>
            <tr>
                <td>Insulina Total</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Ionograma (K,Cl,Na y Bicarbonato)</td>
                <td>$ 70.000</td>
            </tr>
            <tr>
                <td>Leptospira (8 serovares-MAT)</td>
                <td>$ 65.000 + env</td>
            </tr>
            <tr>
                <td>Leptospira (8 serovares-MAT)</td>
                <td>$ 70.000 + env</td>
            </tr>
            <tr>
                <td>Leucemia Viral Felina</td>
                <td>$ 45.000</td>
            </tr>
            <tr>
                <td>Leucosis Bovina Enzootica </td>
                <td>$ 85.000 + env</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso21" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Lipasa Pancreatica</td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>Luteinizante (LH)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>Magnesio</td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>
                    Micosis profundas (cultivo)
                </td>
                <td>$ 67.000</td>
            </tr>
            <tr>
                <td>
                    Micosis superficiales (cultivo)
                </td>
                <td>$ 52.000</td>
            </tr>
            <tr>
                <td>Neospora caninum (Bovinos)</td>
                <td>$ 50.000 + env</td>
            </tr>
            <tr>
                <td>
                    Neospora caninum (Caninos)
                </td>
                <td>$ 160.000 + env</td>
            </tr>
            <tr>
                <td>
                    NUS, BUN
                </td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Organoclorados</td>
                <td>$ 80.000</td>
            </tr>
            <tr>
                <td>Organofosforados</td>
                <td>$ 80.000</td>
            </tr>
            <tr>
                <td>Panleucopenia Felina</td>
                <td>$ 42.000</td>
            </tr>
            <tr>
                <td>Parcial de Orina</td>
                <td>$ 14.000</td>
            </tr>
            <tr>
                <td>Parvovirosis canina (ELISA)</td>
                <td>$ 39.000</td>
            </tr>
            <tr>
                <td>Perfil Reproductivo Bovino (IBR+DVB+Leucosis + Neospora + Leptospira)</td>
                <td>$ 200.000 + env</td>
            </tr>
            <tr>
                <td>Plomo</td>
                <td>$ 80.000</td>
            </tr>
            <tr>
                <td>POOL FELINO (Leucemia Viral, Inmunodef. Felina )</td>
                <td>$ 45.000</td>
            </tr>
            <tr>
                <td>Potasio</td>
                <td>$ 18.000</td>
            </tr>
            <tr>
                <td>Progesterona </td>
                <td>$ 49.000 + env</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>


<div id="paso22" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Prolactina</td>
                <td>$ 53.000</td>
            </tr>
            <tr>
                <td>Proteína C Reactiva - Cuantitativa</td>
                <td>$ 32.000</td>
            </tr>
            <tr>
                <td>Proteínas Plasmáticas Totales</td>
                <td>$ 7.500</td>
            </tr>
            <tr>
                <td>
                    Proteínas Totales Diferenciadas (Albumina y Globulina)
                </td>
                <td>$ 36.000</td>
            </tr>
            <tr>
                <td>
                    Prueba de Compatibilidad Cruzada menor
                </td>
                <td>$ 40.000</td>
            </tr>
            <tr>
                <td>Recuento de Reticulocitos</td>
                <td>$ 10.000 + env</td>
            </tr>
            <tr>
                <td>
                    Sodio
                </td>
                <td>$ 15.000 + env</td>
            </tr>
            <tr>
                <td>
                    Testosterona Total
                </td>
                <td>$ 60.000</td>
            </tr>
            <tr>
                <td>Tetrayodotironina (T4 Libre)</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>Tetrayodotironina (T4 Total)</td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>Tiempo de Protrombina (TP)</td>
                <td>$ 17.000</td>
            </tr>
            <tr>
                <td>Tiempo de Tromboplastina (TPT)</td>
                <td>$ 22.000</td>
            </tr>
            <tr>
                <td>Toxico en Contenido Gástrico</td>
                <td>$ 150.000</td>
            </tr>
            <tr>
                <td>Toxoplasma gondi IgG</td>
                <td>$ 82.000 </td>
            </tr>
            <tr>
                <td>Toxoplasma gondi IgM</td>
                <td>$ 82.000</td>
            </tr>
            <tr>
                <td>Tricograma-KOH-Raspado Cutáneo</td>
                <td>$ 18.000</td>
            </tr>
            <tr>
                <td>Triglicéridos</td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Triyodotironina  (T3 Total) </td>
                <td>$ 35.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>


<div id="paso23" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>Troponina Cualitativa</td>
                <td>$ 70.000</td>
            </tr>
            <tr>
                <td>Urea</td>
                <td>$ 12.000</td>
            </tr>
            <tr>
                <td>Urocultivo (identificación y antibiograma por MIC)</td>
                <td>$ 55.000</td>
            </tr>
            <tr>
                <td>
                    Urocultivo (identificación y antibiograma por MIC)
                </td>
                <td>$ 52.000</td>
            </tr>
            <tr>
                <td>
                    Vitamina B12
                </td>
                <td>$ 85.000</td>
            </tr>
            <tr>
                <td>Warfarina cualitativa</td>
                <td>$ 68.000 + env</td>
            </tr>
            <tr>
                <td>
                    Zinc
                </td>
                <td>$ 50.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso24" hidden="hidden">
    <div>
        <table border="1">
            <tr>
                <td>PERFILES</td>
            </tr>
            <tr>
                <td>NOMBRE DEL ANALISIS</td>
                <td>PRECIO</td>
            </tr>
            <tr>
                <td>PERFIL BASICO 1</td>
                <td>Hemograma + Hemoparásitos + P. Orina </td>
                <td>$ 29.000</td>
            </tr>
            <tr>
                <td>PERFIL BASICO 2</td>
                <td>Hemograma + Hemoparásitos + P. Orina + Coprologico </td>
                <td>$ 35.000</td>
            </tr>
            <tr>
                <td>PERFIL BASICO 3</td>
                <td>Hemograma + Hemop. + ALT + Creat + Glucosa </td>
                <td>$ 42.000</td>
            </tr>
            <tr>
                <td>PERFIL GASTROENTERICO 1</td>
                <td>Hemograma + Hemoparásitos + Coprológico </td>
                <td>$ 28.000</td>
            </tr>
            <tr>
                <td>PERFIL GASTROENTERICO 2</td>
                <td>Hemograma + Parvovirus canino (ELISA)  + Coprológico </td>
                <td>$ 59.000</td>
            </tr>
            <tr>
                <td>PERFIL RENAL 1</td>
                <td>BUN + Urea + Creatinina + Parcial de Orina </td>
                <td>$ 31.000</td>
            </tr>
            <tr>
                <td>PERFIL RENAL 2</td>
                <td>Hemograma + Creatinina + Urea +BUN + P.Orina </td>
                <td>$ 44.000</td>
            </tr>
            <tr>
                <td>PERFIL PREQUIRURGICO 1</td>
                <td>Hemograma + ALT + Creatinina  </td>
                <td>$ 32.000</td>
            </tr>
            <tr>
                <td>PERFIL PREQUIRURGICO 2</td>
                <td>Hemograma + ALT + Creatinina + TP + TPT  </td>
                <td>$ 48.000</td>
            </tr>
            <tr>
                <td>PERFIL HEPATICO 1</td>
                <td>ALT + Bil Total + Bil Dir. + Fosfatasa Alkalina  </td>
                <td>$ 36.000</td>
            </tr>
            <tr>
                <td>PERFIL HEPATICO 2</td>
                <td>ALT + GGT + Bil. Total + Bil Direc. + Proteínas Plasmáticas Totales + Albúmina</td>
                <td>$ 52.000</td>
            </tr>
            <tr>
                <td>PERFIL HEPATICO 3</td>
                <td>ALT + GGT + Bil. Total + Bil Direc. + AST + FAS + Prot. 
                Plasmáticas diferenciadas (Albúmina y Glóbulina)</td>
                <td>$ 79.000</td>
            </tr>
            <tr>
                <td>PERFIL TIROIDEO 1</td>
                <td>
                    T4 Libre + Colesterol
                </td>
                <td>$ 40.500</td>
            </tr>
            <tr>
                <td>PERFIL TIROIDEO 2</td>
                <td>
                    T4 Libre + Colesterol + Triglicéridos
                </td>
                <td>$ 47.000</td>
            </tr>
            <tr>
                <td>PERFIL TIROIDEO 3</td>
                <td>
                    T4 Libre + Colesterol + Triglicéridos + TSH (C.E)
                </td>
                <td>$ 89.000</td>
            </tr>
            <tr>
                <td>PERFIL TIROIDEO 4</td>
                <td>
                    T4 Libre + TSH (C.E)
                </td>
                <td>$ 69.000</td>
            </tr>
            <tr>
                <td>PERFIL SALUD GERIATRICO 1</td>
                <td>
                    Hemograma + Creat. + ALT + Glicemia + Colesterol Total + BUN + 
                    T4 L + P. Orina + Bilirrubina total
                </td>
                <td>$ 88.000</td>
            </tr>
            <tr>
                <td>PERFIL DERMATOLOGICO 1 </td>
                <td>
                    Hemograma + Ex. Cutáneo + Cultivo - Antibiograma
                </td>
                <td>$ 70.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso24" hidden="hidden">
    <div>
        <table border="1">
            
            <tr>
                <td>PERFIL DERMATOLOGICO 2</td>
                <td>Hemograma + Ex. Cutáneo + T4 Libre + Colesterol</td>
                <td>$ 68.000</td>
            </tr>
            <tr>
                <td>PERFIL PANCREATICO </td>
                <td>Hemograma + Glicemia + Amilasa + Lipasa </td>
                <td>$ 58.000</td>
            </tr>
            <tr>
                <td>PERFIL DIABETICO 1</td>
                <td>Glucosa + P.Orina + Hemoglobina Glicosilada</td>
                <td>$ 57.000</td>
            </tr>
            <tr>
                <td>PERFIL DIABETICO 2</td>
                <td>Glucosa + P. Orina </td>
                <td>$ 20.000</td>
            </tr>
            <tr>
                <td>PERFIL LIPIDICO </td>
                <td>Colesterol Total + Triglicéridos + Glicemia </td>
                <td>$ 27.000</td>
            </tr>
            <tr>
                <td>PERFIL MUSCULOESQUELETICO</td>
                <td>AST + CPK + P.Orina + Hemograma</td>
                <td>$ 41.000</td>
            </tr>
            <tr>
                <td>PERFIL CONVULSIVO</td>
                <td>Hemog. + Perfil Hep 2 + BUN + Urea + Creat + Gluc </td>
                <td>$ 83.000</td>
            </tr>
            <tr>
                <td>PERFIL CARDIACO</td>
                <td>Hemograma + AST + Creatinina + Urea + BUN + P.Orina + Potasio + Calcio  </td>
                <td>$ 65.000</td>
            </tr>
            <tr>
                <td>PERFIL METABOLICO</td>
                <td>Glicémia + Urea + BUN + Colesterol + Calcio + Fósforo + Magnesio</td>
                <td>$ 57.000</td>
            </tr>
            <tr>
                <td>PERFIL REPRODUCTIVO EN CANINOS</td>
                <td>Progesterona + Citología vaginal</td>
                <td>$ 52.000</td>
            </tr>
            <tr>
                <td>PERFIL EVALUACION  RIESGO TROBOEMBOLISMO PULMONAR (RTEP)</td>
                <td>$ 140.000</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="botonant15" class="btn btn-primary" onclick="anterior12();">Anterior</button>
        <button id="botonprueba" class="btn btn-default" onclick="pruebas();">Ver Listado de Pruebas</button>
    </div>
</div>

<div id="paso25" hidden="hidden">

    <img src="~/images/Tabla17.png" />
    <div>
        <button id="botonant10" class="btn btn-primary" onclick="anterior7();">Anterior</button>
        <button id="botonsig10" class="btn btn-success" onclick="siguiente8();">Siguiente</button>
    </div>
</div>

<script type="text/javascript">

    function siguiente() {

        $("#paso1").hide();
        $("#paso2").show();
    }
    function siguiente1() {

        $("#paso2").hide();
        $("#paso3").show();
    }
    function siguiente2() {

        $("#paso3").hide();
        $("#paso4").show();
    }
    function siguiente3() {

        $("#paso4").hide();
        $("#paso5").show();
    }
    function siguiente4() {

        $("#paso5").hide();
        $("#paso6").show();
    }
    function siguiente5() {

        $("#paso6").hide();
        $("#paso8").show();
    }
    function siguiente6() {

        $("#paso8").hide();
        $("#paso9").show();
    }
    function siguiente7() {

        $("#paso9").hide();
        $("#paso10").show();
    }
    function siguiente8() {

        $("#paso10").hide();
        $("#paso11").show();
    }
    function siguiente9() {

        $("#paso11").hide();
        $("#paso12").show();
    }
    function siguiente10() {

        $("#paso12").hide();
        $("#paso13").show();
    }
    function siguiente11() {

        $("#paso13").hide();
        $("#paso14").show();
    }
    function siguiente12() {

        $("#paso14").hide();
        $("#paso15").show();
    }
    function anterior() {
        $("#paso2").hide();
        $("#paso1").show();
    }
    function anterior1() {
        $("#paso3").hide();
        $("#paso2").show();
    }
    function anterior2() {
        $("#paso4").hide();
        $("#paso3").show();
    }
    function anterior3() {
        $("#paso5").hide();
        $("#paso4").show();
    }
    function anterior4() {
        $("#paso6").hide();
        $("#paso5").show();
    }
    function anterior5() {
        $("#paso8").hide();
        $("#paso6").show();
    }
    function anterior6() {
        $("#paso9").hide();
        $("#paso8").show();
    }
    function anterior7() {
        $("#paso10").hide();
        $("#paso9").show();
    }
    function anterior8() {
        $("#paso11").hide();
        $("#paso10").show();
    }
    function anterior9() {
        $("#paso12").hide();
        $("#paso11").show();
    }
    function anterior10() {
        $("#paso13").hide();
        $("#paso12").show();
    }
    function anterior11() {
        $("#paso14").hide();
        $("#paso13").show();
    }
    function anterior12() {
        $("#paso15").hide();
        $("#paso14").show();
    }
    function pruebas() {
        $("#paso15").hide();
        $("#paso16").show();
    }
</script>