@model MLS.Web.Models.DocumentoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DocumentoEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="pdfUrl" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdfUrl" class="control-label"></label>
                <input asp-for="pdfUrl" class="form-control"  type="file"/>
                <span asp-validation-for="pdfUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control"  />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.pdfUrl))
        {


            <a href="@Url.Content(Model.pdfUrl)">
                <i class="glyphicon glyphicon-book"></i>
                Ver
            </a>


        }
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

