
@{
    ViewData["Title"] = "INFORMACION GENERAL";
}
<style type="text/css">
    .box {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        background: #889ccf;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        border-radius: 35px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
        border: 2px solid #5878ca;
    }

        .box h2 {
            text-align: center;
        }

        .box h3 {
            text-align: center;
        }

        .box h4 {
            text-align: center;
        }

    img {
        display: block;
        margin: auto;
    }
</style>
<h2> INFORMACION GENERAL</h2>
<div class="box">
    <h3> Horario de Atención</h3>
    <p>
        8:00 a.m – 6:00 p.m, de Lunes a Sábado en jornada contínua.
    </p>

</div>
<div class="box">
    <h3> Servicio a Domicilio</h3>
    <p>
        Brindamos el servicio de recolección de muestras a domicilio,
        tanto en el perímetro urbano como en las principales poblaciones y ciudades cercanas
        mediante el convenio con empresas intermunicipales de transporte. Para una mayor eficiencia de este servicio,
        es necesaria su solicitud previa mediante vía telefónica.
    </p>

</div>
<div class="box">
    <h3> Envío de Muestras</h3>
    <p>
        Todas las muestras enviadas deben llegar con hoja de remisión donde se deberá incluir sin excepción el nombre,
        la especie, raza, edad y sexo del paciente así como también el nombre de médico veterinario tratante
        y los exámenes solicitados. Los tubos y/o frascos deben estar rotulados con el nombre o número del paciente.
    </p>

</div>
<div class="box">
    <h3> Servicio de Toma de muestras</h3>
    <p>
        En caso de requerirse, el laboratorio podrá brindarle el servicio de toma de muestras,
        éste tendrá un valor adicional correspondiente al traslado hacia el lugar del muestreo,
        su valor dependerá de cada caso.
    </p>

</div>
<div class="box">
    <h3> Suministro de material para muestreo y Protocolo de envío</h3>
    <p>
        El laboratorio suministrará a la persona encargada el material para la toma de muestras y
        pone a su disposición un manual para la correcta toma, almacenamiento y transporte de las mismas.
    </p>

</div>
<div class="box">
    <h3> Entrega de resultados</h3>
    <p>
        Los resultados podrán ser consultados vía internet en nuestra página web, podrán enviarse vía e-mail,
        fax el mismo día de recepción de la muestra, teniendo en cuenta la hora de llegada de las mismas al
        laboratorio ó al día siguiente. Posteriormente, en la siguiente entrega de muestras serán suministrados los originales.
        Los resultados de microbiología, hormonas y patología se demoraran de tres a cinco días.

    </p>

</div>
<div class="box">
    <h3> Condiciones de pago</h3>
    <p>
        El pago de los exámenes podrá hacerse en efectivo o mediante tarjeta débito
        o crédito en el momento de la recepción de las muestras.

    </p>

</div>
