
@{
    ViewData["Title"] = "Departamento Diagnostico";
}

    <center> <h2>DEPARTAMENTO DIAGNOSTICO</h2></center>
<div>
    <h3>DEFINICION DE SERVICIOS</h3>
    <h4>LABORATORIO CLINICO</h4>
    <p>
        El Laboratorio Clínico Veterinario es el lugar donde los técnicos y profesionales en análisis clínicos, 
        analizan muestras biológicas de las diferentes especies animales que contribuyen al estudio, prevención,
        diagnóstico y tratamiento de las enfermedades. También se conoce como laboratorio de patología clínica 
        y utiliza las metodologías de diversas disciplinas como la bioquímica- también llamada química clínica - hematología, 
        inmunología y microbiología.
    </p>
</div>
<div>

    <h4>HEMATOLOGIA</h4>
    <p>
        La hematología es la rama de la ciencia médica que se encarga del estudio de los elementos formes de la sangre
        y sus precursores, así como de los trastornos estructurales y bioquímicos de estos elementos, que puedan conducir
        a una enfermedad.
        La hematología comprende el estudio del paquete celular, el perfil o el estado sanguíneo, los cuales son:
    </p>
    <ul>
        <li>Recuento de eritrocitos (y valor hematocrito).</li>
        <li>Recuento de leucocitos.</li>
        <li>Determinación de hemoglobina.</li>
        <li>Velocidad de sedimentación globular (VSG).</li>
        <li>Fórmula leucocitaria (recuento diferencial de leucocitos).</li>
    </ul>
</div>
<div>
    <h4>QUIMICA SANGUINEA</h4>
    <p>
        Es un grupo de exámenes de sangre que suministran información acerca del metabolismo del cuerpo. 
        El examen se denomina comúnmente análisis metabólico básico. Hay un grupo de 20 pruebas químicas 
        realizadas en el suero, la porción de la sangre sin células.
    </p>
</div>
<div>
    <h4>HORMONAS</h4>
    <p>
        Abarca el estudio de las hormonas que son sustancias secretadas por células especializadas, 
        localizadas en glándulas de secreción interna o glándulas endocrinas (carentes de conductos), 
        o también por células epiteliales e intersticiales cuyo fin es la de afectar la función de otras células;  
        también aquellas que actúan sobre la misma célula que las sintetiza (autocrinas). Son transportadas por
        vía sanguínea o por el espacio intersticial, solas (biodisponibles) o asociadas a ciertas proteínas 
        (que extienden su vida media al protegerlas de la degradación) y hacen su efecto en determinados órganos 
        o tejidos diana (o blanco) a distancia de donde se sintetizaron, sobre la misma célula que la sintetiza 
        (acción autócrina) o sobre células contiguas (acción parácrina) interviniendo en la comunicación celular.
    </p>
</div>
<div>
    <h4>PARASITOLOGIA</h4>
    <p>
        Estudia el fenómeno del parasitismo. Por un lado, a los organismos vivos parásitos,
        1 y la relación de ellos con sus hospedadores y el medio ambiente. Convencionalmente, 
        se ocupa sólo de los parásitos eucariotas2 como son los protozoos, helmintos (trematodos, cestodos, nematodos) 
        y artrópodos. Por otro lado, estudia las parasitosis o enfermedades causadas en el hombre, animales y 
        plantas por los organismos parásitos.
    </p>
</div>
<div>
    <h4>UROANALISIS</h4>
    <p>
        Un examen general de orina, también llamado análisis de orina o uroanálisis, 
        consiste en una serie de exámenes efectuados sobre la orina, constituyendo uno 
        de los métodos más comunes de diagnóstico médico.  Un examen completo consta de varias 
        determinaciones: un examen macroscópico, un examen físico-químico, un examen microscópico 
        y, si fuera necesario, un urocultivo. El análisis físico-químico se puede efectuar mediante 
        tiras reactivas cuyos resultados se leen de acuerdo a los cambios de color.
    </p>
</div>
<div>
    <h4>MICROBIOLOGIA</h4>
    <p>
        Encargada del estudio de los microorganismos, seres vivos pequeños. 
        Se dedica a estudiar los organismos que son sólo visibles a través del microscopio: 
        organismos procariotas y eucariotas simples.  La microbiología tradicional se ocupa 
        especialmente de los microorganismos patógenos entre bacterias, virus y hongos, dejando 
        a otros microorganismos en manos de la parasitología y otras categorías de la biología.
    </p>
</div>
<div>
    <h4>CITOLOGIA</h4>
    <p>
        Es una disciplina que se encarga del estudio de las células en cuanto a lo que respecta a las propiedades, 
        estructura, funciones, orgánulos que contienen, su interacción con el ambiente y su ciclo vital.
    </p>
</div>
<div>
    <h4>HISTOPATOLOGIA</h4>
    <p>
        Se ocupa del estudio, por medio de técnicas morfológicas, de las causas, desarrollo y consecuencias 
        de las enfermedades. El fin último es el diagnóstico correcto de biopsias, piezas quirúrgicas, citologías y necropsias.
    </p>
</div>
<div>
    <h4>INMUNOLOGIA</h4>
    <p>
        Se ocupa del estudio del sistema inmunitario, entendiendo como tal al conjunto de órganos, 
        tejidos y células que, en los vertebrados, tienen como función reconocer elementos o ajenos 
        dando una respuesta (respuesta inmunitaria).
    </p>
</div>

